@import "tailwindcss";
@theme {
  --color-lime-primary: #84cc16;
  --color-lime-hover: #74b810;
  --color-lime-active: #65a30d;
}
html,
body {
  background-color: #ffffff;
  color: #1f2937;
}
 
.tooltip{
  position: absolute;
  background-color: red;
  width: fit-content;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  z-index:50;  
}
